---
import ProductoCard from "@/components/ProductoCard.astro";
import { CATEGORIAS, type Categoria } from "@/lib/catalogo";
import { PULSERAS_DATA, type Pulsera } from "@/lib/pulseras";
---

<section class="px-(--margin-mobile) md:px-(--margin-desktop) pt-2 md:pt-4 pb-24 space-y-2 md:space-y-4">
  <div
    style="mask-image: linear-gradient(to right, black 95%, transparent 100%);"
    class="container relative mx-auto flex gap-2 overflow-x-auto scrollbar-hide snap-x snap-mandatory scroll-smooth py-2 px-4"
  >
    {
      CATEGORIAS.map((c: Categoria) => (
        <button class="text-xs md:text-sm outline-primary/50 focus:outline-2 hover:bg-tertiary/30 cursor-pointer shrink-0 snap-start rounded-full border border-slate-200 text-slate-700 py-2 px-4 bg-white active:scale-95 transition-all duration-200">
          {c.nombre}
        </button>
      ))
    }
  </div>

  <article class="container mx-auto grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    {PULSERAS_DATA.map((p: Pulsera) => <ProductoCard pulsera={p} />)}
  </article>
</section>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
